
.Conclusion{

    width: 90%;
    margin: auto;
    margin-top: 50px;

    h1{

        text-align: center;
    }
}
.forceFaiblessesContainer{

    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 15px;
    //border: solid;
    border-radius: 10px;
   
    box-shadow: -8px 3px 33px 2px rgba(0, 0, 0, 0.643);

    
    h2{

        text-align: center;
    }
    p,h3{
        padding-left: 20px;
    }
    
}
